<p-table #dt [value]="orders" [rows]="6" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" styleClass="p-datatable-sm"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Manage orders</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="buyer">Buyer <p-sortIcon field="buyer"></p-sortIcon></th>
            <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
            <th pSortableColumn="translator">Translator <p-sortIcon field="translator"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.name}}</td>
            <td>{{order.buyer}}</td>
            <td>{{order.amount | currency:'USD'}}</td>
            <td>{{order.translator}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
            </td>
        </tr>
    </ng-template>
</p-table>