<div class="logo">
    <img src="/assets/logo.png" alt="image">
</div>

<div class="grid">
    <div class="xl:col-8 xl:col-offset-2 col-12">
        <p-tabView>
            <p-tabPanel header="Orders List">
                <app-order-list (newOrderEvent)="newOrder" [newCollaborator]="newCollaborator"></app-order-list>
            </p-tabPanel>
            <p-tabPanel header="Payout">
                <app-payout [newOrder]="newOrder" [newCollaborator]="newCollaborator"></app-payout>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<button (click)="collaborators.toggle($event)" pButton pRipple type="button" icon="pi pi-user" 
    class="collaborators p-button-rounded p-button-info p-button-outlined"></button>
<!-- <button (click)="neworder.toggle($event)" pButton pRipple type="button" icon="pi pi-plus" 
    class="new-order p-button-rounded p-button-info p-button-outlined"></button> -->

<p-overlayPanel #collaborators>
    <ng-template pTemplate>
        <app-collaborators (newCollaboratorEvent)="reloadCollaborators($event)"></app-collaborators>
    </ng-template>
</p-overlayPanel>

<!-- <p-overlayPanel #neworder>
    <ng-template pTemplate>
        <app-add-order (newOrderEvent)="reloadOrders($event)" [newCollaborator]="newCollaborator"></app-add-order>
    </ng-template>
</p-overlayPanel> -->