<form [formGroup]="newOrder" (ngSubmit)="addOrder()">
    <div class="grid p-fluid">
        <div class="col-12 p-float-label mt-4">
            <input formControlName="name" id="name" class="p-inputtext-sm"  type="text" pInputText> 
            <label for="name">Name</label>
        </div>
        <div class="col-12 p-float-label mt-4">
            <input formControlName="buyer" id="buyer" class="p-inputtext-sm"  type="text" pInputText> 
            <label for="buyer">Buyer</label>
        </div>
        <div class="field col-12 mt-4">
            <p-inputNumber formControlName="amount" [min]="5.00" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="USD">
            </p-inputNumber>
        </div>
        <div class="field col-12 mt-2">
            <p-dropdown formControlName="translator" placeholder="Select translator" [options]="collaborators" optionLabel="name" optionValue="name"></p-dropdown>
        </div>
        <div class="field col-12">
            <button pButton pRipple type="submit" label="Add this order" class="p-button-outlined p-button-success"></button>
        </div>
    </div>
</form>
